<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Dispersion Measures</title>
    <style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 40px;
  padding-left: 60px;
  padding-right: 40px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

    </style>
</head>
<body>

<div align="center" class="container my-2">
    <h1>Dispersion Measures</h1>
    <a th:href="@{/}" class="btn btn-info btn-sm mb-3" style="font-size: 20px">Go To Main Menu</a>
</div>

<div class="row">
    <!--Year 1 -->
    <div align="center" class="column">
        <b>
            <section class="post-content"/>
            <h2>
                Students from year 1
            </h2>
            <h3>
                Range: [(${rangeYear1})]
            </h3>
            <h3>
                Variance: [(${varianceYear1})]
            </h3>
            <h3>
                Standard Deviation: [(${standardDeviationYear1})]
            </h3>
        </b>
    </div>

    <!--Year 2-->
    <div align="center" class="column">
        <b>
            <section class="post-content"/>
            <h2>
                Students from year 2
            </h2>
            <h3>
                Range: [(${rangeYear2})]
            </h3>
            <h3>
                Variance: [(${varianceYear2})]
            </h3>
            <h3>
                Standard Deviation: [(${standardDeviationYear2})]
            </h3>
        </b>
    </div>

    <!--Both Years-->
    <div align="center" class="column">
        <b>
            <section class="post-content"/>
            <h2>
                Students from both years
            </h2>
            <h3>
                Range: [(${rangeYearBoth})]
            </h3>
            <h3>
                Variance: [(${varianceYearBoth})]
            </h3>
            <h3>
                Standard Deviation: [(${standardDeviationYearBoth})]
            </h3>
        </b>
    </div>
</div>

</body>
</html>